#### Eduliv: Encontro 04 - Introdução ao Pandas

**Working with FameWorks**

In [61]:
import pandas as pd

# Criando uma lista de dicionários (pessoas)
users_list = [
    {
        "nome": "Paulo",
        "idade": 50,
        "sexo": "Masculino",
        "endereco": "Sidney Chaves",
        "nacionalidade": "Brasileira",
        "salario": 4380
        },
    {
        "nome": "Fran",
        "idade": 25,
        "sexo": "Feminino",
        "endereco": "Vila Velha",
        "nacionalidade": "Brasileira",
        "salario": 3550
        },
    {
        "nome": "João",
        "idade": 30,
        "sexo": "Masculino",
        "endereco": "Vitória",
        "nacionalidade": "Brasileira",
        "salario": 2255
        }
]

print(users_list)

# Receiveing the List with DataFrame
df_users = pd.DataFrame(users_list)
print('DATAFRAME')
print(df_users)

[{'nome': 'Paulo', 'idade': 50, 'sexo': 'Masculino', 'endereco': 'Sidney Chaves', 'nacionalidade': 'Brasileira', 'salario': 4380}, {'nome': 'Fran', 'idade': 25, 'sexo': 'Feminino', 'endereco': 'Vila Velha', 'nacionalidade': 'Brasileira', 'salario': 3550}, {'nome': 'João', 'idade': 30, 'sexo': 'Masculino', 'endereco': 'Vitória', 'nacionalidade': 'Brasileira', 'salario': 2255}]
DATAFRAME
    nome  idade       sexo       endereco nacionalidade  salario
0  Paulo     50  Masculino  Sidney Chaves    Brasileira     4380
1   Fran     25   Feminino     Vila Velha    Brasileira     3550
2   João     30  Masculino        Vitória    Brasileira     2255

* **_describe( )_ Method** is a powerful function used to generate a **statistical summary** of a DataFrame or Series. It provides a quick overview of the data's distribution and key characteristics.

In [4]:
print(df_users.describe())

           idade
count   3.000000
mean   35.000000
std    13.228757
min    25.000000
25%    27.500000
50%    30.000000
75%    40.000000
max    50.000000

* **_columns_**
is the attribute of a DataFrame used to access or modify the column labels (names) of the DataFrame.

In [12]:
print(df_users.columns)

Index(['nome', 'idade', 'sexo', 'endereco', 'nacionalidade'], dtype='object')

* **_mean( )_ Method** is a function that calculates the arithmetic mean (average) of numerical data.
- It only works with numerical data, so if the list has strings the parameter _"numeric_only=True"_ needs to be used.

In [13]:
print(df_users.mean(numeric_only=True))

idade    35.0
dtype: float64

* **_size_** is the attibute that returns an integer representing the total number of elements in a Series or DataFrame.

In [5]:
print('There is', df_users.size, "elements in the DataFrame")

There is 15 elements in the DataFrame

* Using the **_mean( )_ Method** to print the average of a specific coloumn.

In [7]:
print('The average age is', df_users['idade'].mean(numeric_only=True))

The average age is 35.0

In [83]:
average_age = df_users['idade'].mean()
print(f'The average age is {int(average_age)} years old.')

The average age is 35 years old.

In [13]:
print('The average salary is', df_users['salario'].mean())

The average salary is 3395.0

In [76]:
average_salary = df_users['salario'].mean()
print(f'The average salary is R$ {average_salary:.2f}')

The average salary is R$ 3395.00

* Using the **_sum( )_ Method** is used to calculate the sum of values within a Series or DataFrame.

In [34]:
print('The salary total is', df_users['salario'].sum())

The salary total is 10185

In [40]:
salary_sum = df_users['salario'].sum()
print(f'The salary total is R$ {salary_sum:.2f}')

The salary total is R$ 10185.00

* Using the **_describe( )_ Method** to generate a **statistical summary** of a specific DataFrame or Series.

In [41]:
print(df_users['salario'].describe)

<bound method NDFrame.describe of 0    4380
1    3550
2    2255
Name: salario, dtype: int64>

* Using the **_groupby()_ Method** is used to group DataFrames

In [45]:
print(df_users.groupby(by='sexo').count())

           nome  idade  endereco  nacionalidade  salario
sexo
Feminino      1      1         1              1        1
Masculino     2      2         2              2        2

In [73]:
print(df_users.groupby(by='sexo')['salario'].mean())

sexo
Feminino     3550.0
Masculino    3317.5
Name: salario, dtype: float64