## Estrutura de dados

**O Python possui 4 estruturas de dados**

1. Básicos (str, float, int, boolean)
2. Listas (Array) [ ]
3. Tuplas (Listas que não se altera) ( )
4. Dicionários (Objetos) { }

## [ LISTAS / ARRAY ] NO PYTHON

#### ADICIONANDO VALORES NA LISTA (APPEND)

In [ ]:
# Aula 14 Criar lista
# Aula 15 Adicionar um valor à lista
# Usando append

vendedores = []

novo_vendedor = input('Informe o nome do novo vendedor: ')

vendedores.append(novo_vendedor)

print(f'Lista de Vendedores: {vendedores}')

Lista de Vendedores: ['Martin']

#### REMOVENDO VALORES NA LISTA (REMOVE & CLEAR)

In [ ]:
# Aula 16 Remover um valor de uma lista
# Usando remove & clear

novos_vendedores = ['Mario', 'Luigi', 'Peach', 'Sonic']
print(novos_vendedores)
novos_vendedores.remove('Mario')
print(novos_vendedores)
novos_vendedores.clear()
print(novos_vendedores)

['Mario', 'Luigi', 'Peach', 'Sonic']
['Luigi', 'Peach', 'Sonic']
[]

#### DESCOBRINDO O TAMANHO DA LISTA (LEN)

In [ ]:
# Aula 17 Obter o tamanho de uma lista
# length

nfe = ['8739807395678', '87398567895', '285723457458', '98099345345']
quantidade_nfe = len(nfe)
print(f'A lista {nfe} tem uma quantidade total de {quantidade_nfe} notas fiscais eletrônicas.')

A lista ['8739807395678', '87398567895', '285723457458', '98099345345'] tem uma quantidade total de 4 notas fiscais eletrônicas.

#### BUSCANDO VALORES NA LISTA (INDEX)

In [78]:
# Aula 18 Buscar valores em listas

clientes = ['Apple', 'Samsung', 'Motorola', 'Xiaomi', 'LG']
print(clientes)

cliente_numero = int(input(f'Digite um valor de 0 à 4: '))
busca_cliente = clientes[cliente_numero]
print(busca_cliente)

['Apple', 'Samsung', 'Motorola', 'Xiaomi', 'LG']
LG

In [79]:
# Aula 18 Buscar valores em listas
# Buscando a posição do item da lista
# Trabalhando com index

busca_cliente = 'LG'
posicao = clientes.index(busca_cliente)
print(posicao)

<class 'int'>

##### OBTER DADOS EM LISTAS

In [30]:
# Aula 19 Obter dados em listas

carros = ['L200', 'Renegade', 'Compass', 'Land Rover', 'Duster' , 'Pajero', 'Hilux']
tamanho_da_lista = len(carros)
print(tamanho_da_lista)

7

In [ ]:
# Maneira Trabalhosa de Obter o Último Valor da Lista
index_ultimo_item = tamanho_da_lista - 1
ultimo_item = carros[index_ultimo_item]
print(ultimo_item)

Hilux

In [32]:
# Maneira Simples de Obter o Último Valor da Lista
ultimo_item_simples = carros[-1]
print(ultimo_item_simples)

Hilux

In [33]:
penultimo_item_simples = carros[-2]
print(penultimo_item_simples)

Pajero

#### SUBLISTAS

In [10]:
# Aula 20 Como obter uma sub lista
# carros = ['L200', 'Renegade', 'Compass', 'Land Rover', 'Duster' , 'Pajero', 'Hilux']
# 7 itens na lista

tres_ultimos_carros = carros[4:]
print(tres_ultimos_carros)

['Duster', 'Pajero', 'Hilux']

In [12]:
tres_primeiros_carros = carros[:3]
print(tres_primeiros_carros)

['L200', 'Renegade', 'Compass']

##### Aula 21 Atividade e resolução de listas

**EXERCÍCIO**

1. Crie uma lista de vendedores
2. Gere um input que permita ao usuário informar o vendedor que ele quer pesquisar
3. Retorne para o usuário a posição na lista no formato que o usuário entenda

In [115]:
# Resolução Aula 21 Atividade e resolução de listas
# Usando a função title()


vendedores = ['Vendedor A', 'Vendedor B', 'Vendedor C', 'Vendedor D', 'Vendedor E']
print(vendedores)

pesquisa_vendedores = input(f'Digite o novo do vendedor que deseja pesquisar: ').title()
numero_vendedor = vendedores.index(pesquisa_vendedores) + 1

print(f'O {pesquisa_vendedores} é o {numero_vendedor}º na lista.')

['Vendedor A', 'Vendedor B', 'Vendedor C', 'Vendedor D', 'Vendedor E']
O Vendedor B é o 2º na lista.

## ( TUPLAS ) NO PYTHON

_Tuplas são listas que não podem ser modificadas_

In [37]:
# Aula 22 O que são tuplas?


# append não funciona
numeros = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
numeros.append(10)
print(numeros)

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
# remove não funciona
numeros = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
numeros.remove(3)
print(numeros)

AttributeError: 'tuple' object has no attribute 'remove'

In [38]:
# Aula 23 Qual a diferença entre listas e tuplas

numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numeros.append(10)
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## { DICIONÁRIOS / OBJETOS } NO PYTHON

In [51]:
# Aula 24 O que são dicionários

nfe1 = {
    'Número da NFe:': 998974, 
    'Data de Emissão': '2025-07-01',
    'Valor da NFe (R$)': 1250
}

nfe2 = {
    'Número da NFe:': 998974, 
    'Data de Emissão': '2025-07-01',
    'Valor da NFe (R$)': 1250
}

print(nfe1, nfe2)

{'Número da NFe:': 998974, 'Data de Emissão': '2025-07-01', 'Valor da NFe (R$)': 1250} {'Número da NFe:': 998974, 'Data de Emissão': '2025-07-01', 'Valor da NFe (R$)': 1250}

In [50]:
# Dicionários dentro de uma Lista

nfe = [
{
    'Número da NFe:': 998974, 
    'Data de Emissão': '2025-07-01',
    'Valor da NFe (R$)': 1250
},
{
    'Número da NFe:': 998975, 
    'Data de Emissão': '2025-08-01',
    'Valor da NFe (R$)': 1850
}
]
print(nfe)

[{'Número da NFe:': 998974, 'Data de Emissão': '2025-07-01', 'Valor da NFe (R$)': 1250}, {'Número da NFe:': 998975, 'Data de Emissão': '2025-08-01', 'Valor da NFe (R$)': 1850}]

In [58]:
# Aula 25 Adicionando dicionários à listas

# append

nfe.append(
{
    'Número da NFe:': 998976, 
    'Data de Emissão': '2025-09-01',
    'Valor da NFe (R$)': 1370
}
)

print(nfe)

[{'Número da NFe:': 998974, 'Data de Emissão': '2025-07-01', 'Valor da NFe (R$)': 1250}, {'Número da NFe:': 998975, 'Data de Emissão': '2025-08-01', 'Valor da NFe (R$)': 1850}, {'Número da NFe:': 998976, 'Data de Emissão': '2025-09-01', 'Valor da NFe (R$)': 1370}]

In [59]:

# remove

nfe.remove(
{
    'Número da NFe:': 998976, 
    'Data de Emissão': '2025-09-01',
    'Valor da NFe (R$)': 1370
}
)

print(nfe)

[{'Número da NFe:': 998974, 'Data de Emissão': '2025-07-01', 'Valor da NFe (R$)': 1250}, {'Número da NFe:': 998975, 'Data de Emissão': '2025-08-01', 'Valor da NFe (R$)': 1850}]

##### Aula 26 Atividade e resolução de dicionários

**EXERCÍCIO**

1. Crie um input que permita ao usuario inserir um novo funcionário em uma lista
2. O novo funcionário terá: Nome, Idade, Profissão
3. Retorne para o usuário a lista atualizada em tela

In [91]:
# Resolução do exercício - Aula 26 Atividade e resolução de dicionários

nome = input('Digite o nome do funcionário novo: ')
idade = input('Digite a idade do funcionário novo: ')
profissao = input('Digite a profissão do funcionário novo: ')

funcionario = {
    'Nome' : nome,
    'idade' : idade,
    'Profissão' : profissao
}

print(funcionario)

{'Nome': 'Maria', 'idade': '55', 'Profissão': 'Costureira'}

## CONDICIONAIS (IF, ELSE, ELIF, WHILE, FOR) & 
## OPERADORES (==, !=, <>, <, >, >=, <=, OR, AND, &&, IN, NOT)

**Aulas 27 a 29 - Teorias**

**Aula 30 Exercício de Fixação**

**EXERCÍCIO**

1. Crie uma lista de nomes
2. Crie um input que permita ao usuário perguntar se o nome existe ou não na lista
3. Exiba a mensagem ao usuário se o nome está ou não na lista

In [145]:
# Resolução do Exercício - Aula 30 Exercício de Fixação

nomes = ['Mateus','Marcos', 'Lucas', 'João', 'Paulo', 'Pedro', 'Filipe', 'Bartolomeu','Jonas', 'Isaías']

nome_pesquisado = input('Digite o nome a ser verificado na lista: ').title()
print(nomes)
print('-----------------------------------------------------------------------------------------------------')

if nome_pesquisado in nomes:
    print(f'O nome {nome_pesquisado} está na lista!')
else:
    print(f'O nome {nome_pesquisado} não está na lista!')

['Mateus', 'Marcos', 'Lucas', 'João', 'Paulo', 'Pedro', 'Filipe', 'Bartolomeu', 'Jonas', 'Isaías']
-----------------------------------------------------------------------------------------------------
O nome Mario não está na lista!

In [ ]:
# Verificando com True ou False

nome_pesquisado = input('Digite o nome a ser verificado na lista: ').title()
print(nome_pesquisado in nomes)

False

## TRATAMENTO DE ERROS
#### TRY & EXCEPT

In [144]:
# Aula 31 Lidando com tratamento de erros exceções

nome_pesquisado = input('Digite o nome a ser verificado na lista: ').title()
print(nomes)
print('-----------------------------------------------------------------------------------------------------')

try:
    index_nome = nomes.index(nome_pesquisado)
    print(f'O nome {nome_pesquisado} está na lista!')
except:
    print(f'O nome {nome_pesquisado} não está na lista!')

['Mateus', 'Marcos', 'Lucas', 'João', 'Paulo', 'Pedro', 'Filipe', 'Bartolomeu', 'Jonas', 'Isaías']
-----------------------------------------------------------------------------------------------------
O nome Lucas está na lista!